[user]
	name = Cody Sork
	email = codysork@tutanota.com
[branch]
	autosteuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[http]
	proxy = http://localhost:8080
[https]
	proxy = http://localhost:8080
