# Ignore everything
/*

# Include
!.gitignore

# Track
## Directories
!/.Xresources
!/.zshrc
!/.profile
!/.config/i3
!/.config/nvim
!/.config/polybar
!/.config/rofi
## Files
!/.config/i3/config
!/.config/
