[user]
	name = Cody Sork
	email = codysork@gmail.com
[branch]
	autosteuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	autocrlf = input
[merge]
	tool = vimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
