# Exclude all dotfiles on home directory by default
.* 
# Exclude all home directories by default
*/ 

# Excluded config files
.config/*
.config/i3/*
.config/polybar/*
.config/rofi/*
.config/spicetify/Backup/*
.config/youtube-viewer/api.json

# Exclude most firefox files and directories
.mozilla/*
.mozilla/firefox/*
.mozilla/firefox/033x0mac*/*

# Excluded scripts
Scripts/__pycache__/*

# Other excluded
./local/*

# Include some dotfiles in home directory
!.gitconfig
!.p10k.zsh
!.xinitrc
!.vimrc
!.zshrc

# Include some config files 
!.config/
!.config/i3/
!.config/i3/config
!.config/polybar/
!.config/polybar/config
!.config/ranger/
!.config/redshift/
!.config/rofi/config
!.config/spicetify/
!.config/spicetify/*
!.config/spicetify/config.ini
!.config/spicetify/Themes/
!.config/spicetify/Themes/wal
!.config/spicetify/Themes/wal/*
!.config/st/
!.config/youtube-viewer/youtube-viewer.conf

# Include custom firefox css
!.mozilla/
!.mozilla/firefox/
!.mozilla/firefox/033x0mac*/
!.mozilla/firefox/033x0mac*/chrome/
!.mozilla/firefox/033x0mac*/chrome/*

# Included todo.sh extensions
!.todo.actions.d/

# Include scripts
!.local/
!.local/bin/
!.local/bin/*
!Scripts/
!Scripts/todo/
!Scripts/keycolors

# Include screenshots and wallpapers
!Pictures/
!Pictures/Screenshots/
!Pictures/Screenshots/*
!Pictures/Wallpapers/
!Pictures/Wallpapers/*
