# Excluded Defaults
.[GXa-bd-o-su-z]*
.ca*
.par*
.p[k-y]*
.rain*
.tooling
.conda
.conky
.cortex
.Password*
.PyCharm*/
.vim/*
.viminfo
*.tmp

# Exclude Home Directories
[@A-OQ-RT-Z]*
Pictures/*
Sync/

# Excluded config files
.config/[A-Va-hj-qt-z]*
.config/in*
.config/s[c-pt-y]*
.config/i3/*
.config/rofi/*

# Include some config files 
!.config/i3/config
!.config/ranger/*
!.config/redshift/*
!.config/rofi/config
!.config/st/*

# Included todo.sh extensions
!.todo.actions.d/*

# Include some dotfiles
!.p10k.zsh
!.xinitrc
!.vimrc
!.zshrc

# Include Screenshots and Wallpapers
!Pictures/Screenshots/*
!Pictures/Wallpapers/*
