[user]
	name = Cody Sork
	email = codysork@pm.me
[branch]
	autosteuprebase = always
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	autocrlf = input
[merge]
	tool = vimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
