Xft.dpi: 210
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: 1

# Gruvbox Color Scheme
*foreground:        #ebdbb2
*background:        #282828
*.foreground:       #ebdbb2
*.background:       #282828
*.color0:           #282828
*color0:            #282828
*.color1:           #cc241d
*color1:            #cc241s
*.color2:           #98971a
*color2:            #98971a
*.color3:           #d79921
*color3:            #d79921
*.color4:           #458588
*color4:            #458588
*.color5:           #b16286
*color5:            #b16286
*.color6:           #689d6a
*color6:            #689d6a
*.color7:           #a89984
*color7:            #a89984
*.color8:           #928374
*color8:            #928374
*.color9:           #fb4934
*color9:            #fb4934
*.color10:          #b8bb26
*color10:           #b8bb26
*.color11:          #fabd2f
*color11:           #fabd2f
*.color12:          #83a598
*color12:           #83a598
*.color13:          #d3869b
*color13:           #d3869b
*.color14:          #8ec07c 
*color14:           #8ec07c
*.color15:          #ebdbb2
*color15:           #ebdbb2
