/********************************
    Material Theme Imports 
********************************/


@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";


/********************************
    Personal Changes 
********************************/

/* Replace favicon on tabs with close button on hover */
.tabbrowser-tab:not(:hover) .tab-close-button {
  display:none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:block !important;
}

.tabbrowser-tab:not([pinned]):hover  .tab-icon-image {
  display: none !important;
}

.tabbrowser-tab:hover  .tab-throbber,
.tabbrowser-tab:hover  .tab-icon-image,
.tabbrowser-tab:hover .tab-sharing-icon-overlay,
.tabbrowser-tab:hover  .tab-icon-overlay,
.tabbrowser-tab:hover  .tab-label-container,
.tabbrowser-tab:hover  .tab-icon-sound {
  -moz-box-ordinal-group: 2 !important;
}

/* FIX NAV ARROWS WITH ME
.toolbarbutton-1#forward-button,
#context-forward
{
	transform: scaleX(-1) !important;
}
*/

/* Reveal toolbar buttons when user hovers */
:root:not([customizing]) #nav-bar toolbarbutton {
  margin-left: -28px !important;
  opacity: 0 !important;
  transform: scale(.85, .85) !important;
  pointer-events: none !important;
	transition: all .1s var(--ease-basic) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
  transform: scale(1, 1) !important;
  opacity:1 !important;
  margin-left:0 !important;
  pointer-events: auto !important;
}
